NODE_ENV=development # production development
SPE_USER_ID=
HH_CH_PORT=3000


QURAN_RADIO_1_NAME=إذاعة القرآن العامة
QURAN_RADIO_1_URL=https://radio.mp3islam.com/listen/quran_radio/radio.mp3
QURAN_RADIO_2_NAME=القارئ سعود الشريم
QURAN_RADIO_2_URL=https://radio.mp3islam.com/listen/alshuraim/radio.mp3
QURAN_RADIO_3_NAME=القارئ علي الحذيفي
QURAN_RADIO_3_URL=https://radio.mp3islam.com/listen/alhuthaifi/radio.mp3
QURAN_RADIO_4_NAME=القارئ عبدالباسط عبدالصمد
QURAN_RADIO_4_URL=https://radio.mp3islam.com/listen/abdulbasit/radio.mp3
QURAN_RADIO_5_NAME=القارئ ياسر الدوسري
QURAN_RADIO_5_URL=https://radio.mp3islam.com/listen/yaser/radio.mp3
QURAN_RADIO_6_NAME=القارئ عبدالرحمن السديس
QURAN_RADIO_6_URL=https://radio.mp3islam.com/listen/sudais/radio.mp3
QURAN_RADIO_7_NAME=إذاعة تفسير القرآن
QURAN_RADIO_7_URL=https://radio.quranradiotafsir.com/9992/stream
QURAN_RADIO_8_NAME=القارئ إبراهيم الأخضر 
QURAN_RADIO_8_URL=https://backup.qurango.net/radio/ibrahim_alakdar
QURAN_RADIO_9_NAME=القارئ أبو بكر الشاطري
QURAN_RADIO_9_URL=https://backup.qurango.net/radio/shaik_abu_bakr_al_shatri
QURAN_RADIO_10_NAME=القارئ أحمد العجمي
QURAN_RADIO_10_URL=https://backup.qurango.net/radio/ahmad_alajmy
QURAN_RADIO_11_NAME=القارئ أحمد الحواشي
QURAN_RADIO_11_URL=https://backup.qurango.net/radio/ahmad_alhawashi
QURAN_RADIO_12_NAME=القارئ أحمد صابر
QURAN_RADIO_12_URL=https://backup.qurango.net/radio/ahmad_saber
QURAN_RADIO_13_NAME=القارئ أحمد نعينع
QURAN_RADIO_13_URL=https://backup.qurango.net/radio/ahmad_nauina
QURAN_RADIO_14_NAME=القارئ أكرم العلاقمي
QURAN_RADIO_14_URL=https://backup.qurango.net/radio/akram_alalaqmi
QURAN_RADIO_15_NAME=القارئ إدريس أبكر
QURAN_RADIO_15_URL=https://backup.qurango.net/radio/idrees_abkr
QURAN_RADIO_16_NAME=القارئ الزين محمد أحمد
QURAN_RADIO_16_URL=https://backup.qurango.net/radio/alzain_mohammad_ahmad
QURAN_RADIO_17_NAME=القارئ ياسين
QURAN_RADIO_17_URL=https://backup.qurango.net/radio/alqaria_yassen
QURAN_RADIO_18_NAME=القارئ العيون الكوشي
QURAN_RADIO_18_URL=https://backup.qurango.net/radio/aloyoon_alkoshi
QURAN_RADIO_19_NAME=القارئ توفيق الصايغ
QURAN_RADIO_19_URL=https://backup.qurango.net/radio/tawfeeq_assayegh
QURAN_RADIO_20_NAME=القارئ جمال شاكر عبدالله
QURAN_RADIO_20_URL=https://backup.qurango.net/radio/jamal_shaker_abdullah
QURAN_RADIO_21_NAME=القارئ خالد القحطاني
QURAN_RADIO_21_URL=https://backup.qurango.net/radio/khaled_alqahtani
QURAN_RADIO_22_NAME=القارئ خالد عبدالكافي
QURAN_RADIO_22_URL=https://backup.qurango.net/radio/khalid_abdulkafi
QURAN_RADIO_23_NAME=القارئ خليفة الطنيجي
QURAN_RADIO_23_URL=https://backup.qurango.net/radio/khalifa_altunaiji
QURAN_RADIO_24_NAME=القارئ سعد الغامدي
QURAN_RADIO_24_URL=https://backup.qurango.net/radio/saad_alghamdi
QURAN_RADIO_25_NAME=القارئ سهل ياسين
QURAN_RADIO_25_URL=https://backup.qurango.net/radio/sahl_yassin
QURAN_RADIO_26_NAME=القارئ زكي داغستاني
QURAN_RADIO_26_URL=https://backup.qurango.net/radio/zaki_daghistani
QURAN_RADIO_27_NAME=القارئ سيد رمضان
QURAN_RADIO_27_URL=https://backup.qurango.net/radio/sayeed_ramadan
QURAN_RADIO_28_NAME=القارئ شيرزاد عبدالرحمن طاهر
QURAN_RADIO_28_URL=https://backup.qurango.net/radio/shirazad_taher
QURAN_RADIO_29_NAME=القارئ صابر عبدالحكم
QURAN_RADIO_29_URL=https://backup.qurango.net/radio/saber_abdulhakm
QURAN_RADIO_30_NAME=القارئ صلاح البدير
QURAN_RADIO_30_URL=https://backup.qurango.net/radio/salah_albudair
QURAN_RADIO_31_NAME=القارئ صلاح الهاشم
QURAN_RADIO_31_URL=https://backup.qurango.net/radio/salah_alhashim
QURAN_RADIO_32_NAME=القارئ صلاح بو خاطر
QURAN_RADIO_32_URL=https://backup.qurango.net/radio/slaah_bukhatir
QURAN_RADIO_33_NAME=القارئ عادل ريان
QURAN_RADIO_33_URL=https://backup.qurango.net/radio/adel_ryyan
QURAN_RADIO_34_NAME=القارئ عبدالبارئ الثبيتي
QURAN_RADIO_34_URL=https://backup.qurango.net/radio/abdelbari_altoubayti
QURAN_RADIO_35_NAME=القارئ عبدالبارئ محمد
QURAN_RADIO_35_URL=https://backup.qurango.net/radio/abdulbari_mohammad
QURAN_RADIO_36_NAME=القارئ عبدالباسط عبدالصمد (مجود)
QURAN_RADIO_36_URL=https://backup.qurango.net/radio/abdulbasit_abdulsamad_mojawwad
QURAN_RADIO_37_NAME=القارئ عبدالباسط عبدالصمد (ورش)
QURAN_RADIO_37_URL=https://backup.qurango.net/radio/abdulbasit_abdulsamad_warsh
QURAN_RADIO_38_NAME=القارئ عبدالرحمن السديس
QURAN_RADIO_38_URL=https://backup.qurango.net/radio/abdulrahman_alsudaes
QURAN_RADIO_39_NAME=القارئ عبدالعزيز الأحمد
QURAN_RADIO_39_URL=https://backup.qurango.net/radio/abdul_aziz_alahmad
QURAN_RADIO_40_NAME=القارئ عبدالله المطرود
QURAN_RADIO_40_URL=https://backup.qurango.net/radio/abdullah_almattrod
QURAN_RADIO_41_NAME=القارئ عبدالله بصفر
QURAN_RADIO_41_URL=https://backup.qurango.net/radio/abdullah_basfer
QURAN_RADIO_42_NAME=القارئ عبدالله خياط
QURAN_RADIO_42_URL=https://backup.qurango.net/radio/abdullah_khayyat
QURAN_RADIO_43_NAME=القارئ عبدالله عواد الجهني
QURAN_RADIO_43_URL=https://backup.qurango.net/radio/abdullah_aljohany
QURAN_RADIO_44_NAME=القارئ عبدالرشيد صوفي (خلف)
QURAN_RADIO_44_URL=https://backup.qurango.net/radio/abdulrasheed_soufi_khalaf
QURAN_RADIO_45_NAME=القارئ عبدالرشيد صوفي (عاصم)
QURAN_RADIO_45_URL=https://backup.qurango.net/radio/abdulrasheed_soufi_assosi
QURAN_RADIO_46_NAME=القارئ عبدالمحسن الحارثي
QURAN_RADIO_46_URL=https://backup.qurango.net/radio/abdulmohsin_alharthy
QURAN_RADIO_47_NAME=القارئ عبدالمحسن القاسم
QURAN_RADIO_47_URL=https://backup.qurango.net/radio/abdulmohsen_alqasim
QURAN_RADIO_48_NAME=القارئ عبدالمحسن العبيكان
QURAN_RADIO_48_URL=https://backup.qurango.net/radio/abdulmohsin_alobaikan
QURAN_RADIO_49_NAME=القارئ عبدالهادي كناكري
QURAN_RADIO_49_URL=https://backup.qurango.net/radio/abdulhadi_kanakeri
QURAN_RADIO_50_NAME=القارئ عبدالودود حنيف
QURAN_RADIO_50_URL=https://backup.qurango.net/radio/abdulwadood_haneef
QURAN_RADIO_51_NAME=القارئ علي بن عبدالرحمن الحذيفي
QURAN_RADIO_51_URL=https://backup.qurango.net/radio/ali_alhuthaifi
QURAN_RADIO_52_NAME=القارئ علي الحذيفي (قالون)
QURAN_RADIO_52_URL=https://backup.qurango.net/radio/ali_alhuthaifi_qalon
QURAN_RADIO_53_NAME=القارئ علي جابر
QURAN_RADIO_53_URL=https://backup.qurango.net/radio/ali_jaber
QURAN_RADIO_54_NAME=القارئ علي حجاج السويسي
QURAN_RADIO_54_URL=https://backup.qurango.net/radio/ali_hajjaj_alsouasi
QURAN_RADIO_55_NAME=القارئ عماد زهير حافظ
QURAN_RADIO_55_URL=https://backup.qurango.net/radio/emad_hafez
QURAN_RADIO_56_NAME=القارئ عمر القزابري
QURAN_RADIO_56_URL=https://backup.qurango.net/radio/omar_alqazabri
QURAN_RADIO_57_NAME=القارئ فارس عباد
QURAN_RADIO_57_URL=https://backup.qurango.net/radio/fares_abbad
QURAN_RADIO_58_NAME=القارئ ناصر القطامي
QURAN_RADIO_58_URL=https://backup.qurango.net/radio/nasser_alqatami
QURAN_RADIO_59_NAME=القارئ نبيل الرفاعي
QURAN_RADIO_59_URL=https://backup.qurango.net/radio/nabil_al_rifay
QURAN_RADIO_60_NAME=القارئ نعمة الحسان
QURAN_RADIO_60_URL=https://backup.qurango.net/radio/neamah_alhassan
QURAN_RADIO_61_NAME=القارئ هاني الرفاعي
QURAN_RADIO_61_URL=https://backup.qurango.net/radio/hani_arrifai
QURAN_RADIO_62_NAME=القارئ وليد النائحي
QURAN_RADIO_62_URL=https://backup.qurango.net/radio/waleed_alnaehi
QURAN_RADIO_63_NAME=القارئ ياسر القرشي
QURAN_RADIO_63_URL=https://backup.qurango.net/radio/yasser_alqurashi
QURAN_RADIO_64_NAME=القارئ ياسر المزروعي
QURAN_RADIO_64_URL=https://backup.qurango.net/radio/yasser_almazroyee
QURAN_RADIO_65_NAME=القارئ يحيى حوا
QURAN_RADIO_65_URL=https://backup.qurango.net/radio/yahya_hawwa
QURAN_RADIO_66_NAME=القارئ يوسف الشويعي
QURAN_RADIO_66_URL=https://backup.qurango.net/radio/yousef_alshoaey
QURAN_RADIO_67_NAME=القارئ ماهر المعيقلي
QURAN_RADIO_67_URL=https://backup.qurango.net/radio/maher
QURAN_RADIO_68_NAME=القارئ محمد الطبلاوي
QURAN_RADIO_68_URL=https://backup.qurango.net/radio/mohammad_altablaway
QURAN_RADIO_69_NAME=القارئ محمد اللحيدان
QURAN_RADIO_69_URL=https://backup.qurango.net/radio/mohammed_allohaidan
QURAN_RADIO_70_NAME=القارئ محمد أيوب
QURAN_RADIO_70_URL=https://backup.qurango.net/radio/mohammed_ayyub
QURAN_RADIO_71_NAME=القارئ محمد صديق المنشاوي
QURAN_RADIO_71_URL=https://backup.qurango.net/radio/mohammed_siddiq_alminshawi
QURAN_RADIO_72_NAME=القارئ محمد صديق المنشاوي (مجود)
QURAN_RADIO_72_URL=https://backup.qurango.net/radio/mohammed_siddiq_alminshawi_mojawwad
QURAN_RADIO_73_NAME=القارئ محمود خليل الحصري
QURAN_RADIO_73_URL=https://backup.qurango.net/radio/mahmoud_khalil_alhussary
QURAN_RADIO_74_NAME=القارئ محمود خليل الحصري (مجود)
QURAN_RADIO_74_URL=https://backup.qurango.net/radio/mahmoud_khalil_alhussary_mojawwad
QURAN_RADIO_75_NAME=القارئ محمود خليل الحصري (ورش)
QURAN_RADIO_75_URL=https://backup.qurango.net/radio/mahmoud_khalil_alhussary_warsh
QURAN_RADIO_76_NAME=القارئ محمود علي البنا
QURAN_RADIO_76_URL=https://backup.qurango.net/radio/mahmoud_ali__albanna
QURAN_RADIO_77_NAME=القارئ مشاري العفاسي
QURAN_RADIO_77_URL=https://backup.qurango.net/radio/mishary_alafasi
QURAN_RADIO_78_NAME=القارئ مصطفى إسماعيل
QURAN_RADIO_78_URL=https://backup.qurango.net/radio/mustafa_ismail
QURAN_RADIO_79_NAME=القارئ مصطفى اللاهوني
QURAN_RADIO_79_URL=https://backup.qurango.net/radio/mustafa_allahoni
QURAN_RADIO_80_NAME=القارئ مصطفى رعد العزاوي
QURAN_RADIO_80_URL=https://backup.qurango.net/radio/mustafa_raad_alazawy
QURAN_RADIO_81_NAME=القارئ مفتاح السلطني (الدوري عن أبي عمرو)
QURAN_RADIO_81_URL=https://backup.qurango.net/radio/muftah_alsaltany_aldori_an_abi_amr
QURAN_RADIO_82_NAME=القارئ ماهر شخاشيرو
QURAN_RADIO_82_URL=https://backup.qurango.net/radio/maher_shakhashero
QURAN_RADIO_83_NAME=القارئ محمود الشيمي
QURAN_RADIO_83_URL=https://backup.qurango.net/radio/mahmood_alsheimy
QURAN_RADIO_84_NAME=القارئ خالد المهنا
QURAN_RADIO_84_URL=https://backup.qurango.net/radio/khalid_almohana
QURAN_RADIO_85_NAME=القارئ عادل الكلباني
QURAN_RADIO_85_URL=https://backup.qurango.net/radio/adel_alkhalbany
QURAN_RADIO_86_NAME=القارئ موسى بلال
QURAN_RADIO_86_URL=https://backup.qurango.net/radio/mousa_bilal
QURAN_RADIO_87_NAME=القارئ حاتم فريد الواعر
QURAN_RADIO_87_URL=https://backup.qurango.net/radio/hatem_fareed_alwaer
QURAN_RADIO_88_NAME=القارئ محمود الرفاعي
QURAN_RADIO_88_URL=https://backup.qurango.net/radio/mahmood_al_rifai
QURAN_RADIO_89_NAME=القارئ ابراهيم الدوسري
QURAN_RADIO_89_URL=https://backup.qurango.net/radio/ibrahim_aldosari
QURAN_RADIO_90_NAME=القارئ مفتاح السلطني (الدوري)
QURAN_RADIO_90_URL=https://backup.qurango.net/radio/muftah_alsaltany_aldorai
QURAN_RADIO_91_NAME=القارئ جمعان العصيمي
QURAN_RADIO_91_URL=https://backup.qurango.net/radio/jamaan_alosaimi
QURAN_RADIO_92_NAME=القارئ مفتاح السلطني
QURAN_RADIO_92_URL=https://backup.qurango.net/radio/muftah_alsaltany
QURAN_RADIO_93_NAME=القارئ يوسف بن نوح أحمد
QURAN_RADIO_93_URL=https://backup.qurango.net/radio/yousef_bin_noah_ahmad
QURAN_RADIO_94_NAME=القارئ مفتاح السلطني (ابن ذكوان عن ابن عامر)
QURAN_RADIO_94_URL=https://backup.qurango.net/radio/muftah_alsaltany_ibn_thakwan_an_ibn_amr
QURAN_RADIO_95_NAME=القارئ معيض الحارثي
QURAN_RADIO_95_URL=https://backup.qurango.net/radio/moeedh_alharthi
QURAN_RADIO_96_NAME=القارئ محمد رشاد الشريف
QURAN_RADIO_96_URL=https://backup.qurango.net/radio/mohammad_rashad_alshareef
QURAN_RADIO_97_NAME=القارئ أحمد خضر الطرابلسي
QURAN_RADIO_97_URL=https://backup.qurango.net/radio/ahmad_khader_altarabulsi
QURAN_RADIO_98_NAME=القارئ أحمد الطرابلسي
QURAN_RADIO_98_URL=https://backup.qurango.net/radio/ahmed_altrabulsi
QURAN_RADIO_99_NAME=القارئ عبدالله الكندري
QURAN_RADIO_99_URL=https://backup.qurango.net/radio/abdullah_alkandari
QURAN_RADIO_100_NAME=القارئ أحمد عامر
QURAN_RADIO_100_URL=https://backup.qurango.net/radio/ahmed_amer
QURAN_RADIO_101_NAME=القارئ محمد عثمان خان
QURAN_RADIO_101_URL=https://backup.qurango.net/radio/mohammed_osman_khan
QURAN_RADIO_102_NAME=القارئ الدوكالي محمد العالم
QURAN_RADIO_102_URL=https://backup.qurango.net/radio/addokali_mohammad_alalim
QURAN_RADIO_103_NAME=القارئ محمد عبدالكريم (العصباني)
QURAN_RADIO_103_URL=https://backup.qurango.net/radio/mohammad_abdullkarem_alasbahani
QURAN_RADIO_104_NAME=القارئ الفاتح محمد الزبير
QURAN_RADIO_104_URL=https://backup.qurango.net/radio/alfateh_alzubair
QURAN_RADIO_105_NAME=القارئ طارق عبدالغني دعوب
QURAN_RADIO_105_URL=https://backup.qurango.net/radio/tareq_abdulgani_daawob
QURAN_RADIO_106_NAME=إذاعة متنوعة للقراء
QURAN_RADIO_106_URL=https://backup.qurango.net/radio/mix
QURAN_RADIO_107_NAME=تلاوات خاشعة
QURAN_RADIO_107_URL=https://backup.qurango.net/radio/salma
QURAN_RADIO_108_NAME=تكبيرات العيد
QURAN_RADIO_108_URL=https://backup.qurango.net/radio/eid
QURAN_RADIO_109_NAME=القارئ عبدالرحمن الماجد
QURAN_RADIO_109_URL=https://backup.qurango.net/radio/abdulrahman_almajed
QURAN_RADIO_110_NAME=الإذاعة العامة - الفتاوى
QURAN_RADIO_110_URL=https://backup.qurango.net/radio/fatwa
QURAN_RADIO_111_NAME=الرقية الشرعية
QURAN_RADIO_111_URL=https://backup.qurango.net/radio/roqiah
QURAN_RADIO_112_NAME=سورة البقرة - لقراء مختلفين
QURAN_RADIO_112_URL=https://backup.qurango.net/radio/albaqarah
QURAN_RADIO_113_NAME=تفسير القرآن الكريم
QURAN_RADIO_113_URL=https://backup.qurango.net/radio/tafseer
QURAN_RADIO_114_NAME=القارئ خالد الجليل
QURAN_RADIO_114_URL=https://backup.qurango.net/radio/khalid_aljileel
QURAN_RADIO_115_NAME=القارئ ناصر الماجد
QURAN_RADIO_115_URL=https://backup.qurango.net/radio/nasser_almajed
QURAN_RADIO_116_NAME=القارئ هيثم الجدعاني
QURAN_RADIO_116_URL=https://backup.qurango.net/radio/hitham_aljadani
QURAN_RADIO_117_NAME=القارئ أحمد خليل شاهين
QURAN_RADIO_117_URL=https://backup.qurango.net/radio/ahmad_shaheen
QURAN_RADIO_118_NAME=القارئ عبدالله الموسى
QURAN_RADIO_118_URL=https://backup.qurango.net/radio/abdullah_almousa
QURAN_RADIO_119_NAME=القارئ عبدالله الخلف
QURAN_RADIO_119_URL=https://backup.qurango.net/radio/abdullah_alkhalaf
QURAN_RADIO_120_NAME=تراتيل قصيرة متميزة
QURAN_RADIO_120_URL=https://backup.qurango.net/radio/tarateel
QURAN_RADIO_121_NAME=القارئ ماجد الزامل
QURAN_RADIO_121_URL=https://backup.qurango.net/radio/majed_alzamel
QURAN_RADIO_122_NAME=القارئ بندر بليلة
QURAN_RADIO_122_URL=https://backup.qurango.net/radio/bandar_balilah
QURAN_RADIO_123_NAME=القارئ ناصر العصفور
QURAN_RADIO_123_URL=https://backup.qurango.net/radio/nasser_alosfor
QURAN_RADIO_124_NAME=القارئ محمد أيوب (قراءة متميزة)
QURAN_RADIO_124_URL=https://backup.qurango.net/radio/ayyoub2
QURAN_RADIO_125_NAME=القارئ أحمد ديبان
QURAN_RADIO_125_URL=https://backup.qurango.net/radio/ahmad_deban
QURAN_RADIO_126_NAME=القارئ محمد أبوسنينة
QURAN_RADIO_126_URL=https://backup.qurango.net/radio/sneineh
QURAN_RADIO_127_NAME=القارئ محمد الأمين قنيوة
QURAN_RADIO_127_URL=https://backup.qurango.net/radio/qeniwa
QURAN_RADIO_128_NAME=القارئ عبدالرحمن الشحات
QURAN_RADIO_128_URL=https://backup.qurango.net/radio/a_alshahhat
QURAN_RADIO_129_NAME=القارئ عبدالعزيز سحيم
QURAN_RADIO_129_URL=https://backup.qurango.net/radio/a_sheim
QURAN_RADIO_130_NAME=إذاعة آيات السكينة
QURAN_RADIO_130_URL=https://backup.qurango.net/radio/sakeenah
QURAN_RADIO_131_NAME=صور من حياة الصحابة
QURAN_RADIO_131_URL=https://backup.qurango.net/radio/sahabah
QURAN_RADIO_132_NAME=المختصر في تفسير القرآن الكريم
QURAN_RADIO_132_URL=https://backup.qurango.net/radio/mukhtasartafsir
QURAN_RADIO_133_NAME=أذكار الصباح
QURAN_RADIO_133_URL=https://backup.qurango.net/radio/athkar_sabah
QURAN_RADIO_134_NAME=أذكار المساء
QURAN_RADIO_134_URL=https://backup.qurango.net/radio/athkar_masa
QURAN_RADIO_135_NAME=في ظلال السيرة النبوية
QURAN_RADIO_135_URL=https://backup.qurango.net/radio/fi_zilal_alsiyra
QURAN_RADIO_136_NAME=المختصر في السيرة النبوية
QURAN_RADIO_136_URL=https://backup.qurango.net/radio/almukhtasar_fi_alsiyra
QURAN_RADIO_137_NAME=كتاب الاختيارات الفقهية
QURAN_RADIO_137_URL=https://backup.qurango.net/radio/alaikhtiarat_alfiqhayh_bin_baz
QURAN_RADIO_139_NAME=القارئ صالح الهبدان
QURAN_RADIO_139_URL=https://backup.qurango.net/radio/saleh_alhabdan
QURAN_RADIO_164_NAME=ترجمة القرآن باللغة الفارسية - أهل القرآن
QURAN_RADIO_164_URL=https://backup.qurango.net/radio/farsi-trans
QURAN_RADIO_165_NAME=تدبر معاني القرآن باللغة الفارسية
QURAN_RADIO_165_URL=https://backup.qurango.net/radio/farsi-tadabor
QURAN_RADIO_166_NAME=صحيح مسلم
QURAN_RADIO_166_URL=https://backup.qurango.net/radio/saheh-muslim
QURAN_RADIO_167_NAME=صحيح z
QURAN_RADIO_168_URL=https://backup.qurango.net/radio/alanbiya
QURAN_RADIO_169_NAME=رياض الصالحين
QURAN_RADIO_169_URL=https://backup.qurango.net/radio/riyad
QURAN_RADIO_170_NAME=القارئ عبدالله البعيجان
QURAN_RADIO_170_URL=https://backup.qurango.net/radio/buajan
QURAN_RADIO_171_NAME=القارئ أحمد طالب بن حميد
QURAN_RADIO_171_URL=https://backup.qurango.net/radio/a_binhameed
QURAN_RADIO_173_NAME=القارئ بدر التركي
QURAN_RADIO_173_URL=https://backup.qurango.net/radio/bader