node_modules/
pnpm-lock.yaml
logs/
storage/
*.log
.pnpm-store/
.test/

dist/
dist-ssr/
dist-electron/
release/
coverage/
.test/
dev/
local/
quranbot.zip/

.prettierignore
.prettierrc*
prettier.config.js
test.txt
package-lock.json

.vscode/*
!.vscode/extensions.json
.idea/
serviceAccountKey.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.7z
*.rar

ui-*.css


.env
production.env
development.env

env.local
development.env.local
production.env.local