node_modules/
pnpm-lock.yaml
logs/
storage/
*.log
.pnpm-store/
.test/

dist-ssr/
dist-electron/
release/
coverage/
.test/
dev/
.dev/
quranbot.zip/
QuranBot.zip/
core.zip/
testBot/

test.txt
package-lock.json
.stylelintrc.json
babel.config.js
jest.config.js
bot-lavalink.js
test-archiver.js
knip.json
application.yml

.vscode/*
!.vscode/extensions.json
.idea/
serviceAccountKey.json
storage
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.7z
*.rar
*.code-workspace

ui-*.css


.env
production.env
development.env

env.local
development.env.local
production.env.local

__test__/
QuranBotData/
oid/
bot-test/
git-commit-message.txt
