DISCORD_TOKEN=
BOT_FLAG=
CLIENT_ID=
SPE_USER_ID=

# Time interval in milliseconds between each automatic database backup.
BACKUP_INTERVAL_MS=7200000

# The ID of the Discord Server (Guild) where the backup channel is located
# The bot uses this to ensure backups are sent to the correct server environment
SERVER_ID=

# The ID of the Discord Text Channel where the compressed backup files will be sent
# Note: Ensure the bot has "View Channel" and "Send Messages" permissions in this channel.
CHANNEL_ID=

# Notification Roles Configuration (Support Server)
# Set to 'true' to enable the notification roles feature
# on = true
# off = false
NOTIFICATION_ROLES_ENABLED=false

# The ID of the channel in your support server where the message will be sent
NOTIFICATION_ROLES_CHANNEL_ID=

# The IDs of the roles that will be assigned when users subscribe
NOTIFY_ALL_ROLE_ID=
NOTIFY_MAJOR_ROLE_ID=
NOTIFY_MINOR_ROLE_ID=

# Lavalink Audio Server
LAVALINK_NODES_='[
  {
    "host": "ip",
    "port": 2022,
    "password": "123456789",
    "secure": false,
    "maxPlayers": 50,
    "location": "United States, San Francisco",
    "flag": "🇺🇸",
    "playerCreateDelay": 100
  }
]'

# Redis Cache / State Store
REDIS_URL=
REDIS_FLAG=

# Firebase Admin SDK Service Account
FIREBASE_ADMIN_TYPE=
FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_PRIVATE_KEY_ID=
FIREBASE_DATABASE_URL=
FIREBASE_ADMIN_PRIVATE_KEY=""
FIREBASE_ADMIN_CLIENT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_AUTH_URI=
FIREBASE_ADMIN_TOKEN_URI=
FIREBASE_ADMIN_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_ADMIN_CLIENT_X509_CERT_URL=
