DISCORD_TOKEN=
CLIENT_ID=
TOPGG_TOKEN=
SPE_USER_ID=

BACKUP_INTERVAL_MS=600000
PRODUCTION_SERVER_ID=
PRODUCTION_CHANNEL_ID=

# Firebase Admin SDK Service Account
FIREBASE_ADMIN_TYPE=
FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_PRIVATE_KEY_ID=
FIREBASE_DATABASE_URL=
FIREBASE_ADMIN_PRIVATE_KEY=""
FIREBASE_ADMIN_CLIENT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_AUTH_URI=
FIREBASE_ADMIN_TOKEN_URI=
FIREBASE_ADMIN_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_ADMIN_CLIENT_X509_CERT_URL=